body
{
	background-image: url("../image/background.png") !important;
	font-family: 'Lato', sans-serif !important;
	
}

.well{
	background-color: rgba(234, 234, 234, 0.52) !important;
    border-radius: 3px !important;
	box-shadow: inset 0 1px 1px rgb(0, 0, 0)!important;
}


.userInfo{
	text-align: right;
	padding: 3px;
	font-weight: bold !important;
}

.reserved{
		text-align: center;
}

.btn-default {
    background-color: rgba(243, 255, 59, 0.82) !important;
    border-color: #ccc;	
	border-color: #7f9222 !important;
	font-weight: bold !important;
	font-size: 20 !important;
}

.form-control{
	background-color: rgba(243, 255, 59, 0.82) !important;
	border-color: #7f9222 !important;
	font-weight: bold !important;
	font-size: 20 !important;
	height: auto !important;
}

.myLabel{
	font-weight: bold !important;
	font-size: 20 !important;	
}

.panel-heading {
	color: #333;
	background-color: rgba(243, 255, 59, 0.82) !important;
	border-color: #7f9222 !important;
}

.panel-default {
	background-color: rgba(234, 234, 234, 0.52) !important;
	border-radius: 3px !important;
	box-shadow: inset 0 1px 1px rgb(0, 0, 0)!important;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}


.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}

.borromColourNotHover{
	background-color: rgba(243, 255, 59, 0.82) !important;
}

.borromColour{
	background-color: rgba(243, 255, 59, 0.82) !important;
}

.borromColour:hover{
	background-color: rgba(216, 230, 0, 0.82) !important;
	cursor: pointer; cursor: hand; !important;
}

.linkBorrom{
	cursor: pointer; cursor: hand; !important;
	color: #333; !important;
}

.linkBorrom:hover{
	color: rgb(152, 139, 26); !important;
	cursor: pointer; cursor: hand; !important;
}

.newNotification{
	background-color: rgba(158, 170, 255, 0.82) !important;
}

.modal {
	display: block; !important;
}

.nav-tabs>li>a {
	background-color: rgba(243, 255, 59, 0.41) !important;
	color: #555 !important;
}
.nav-tabs>li:hover>a{
	background-color: rgba(216, 230, 0, 0.82) !important;
}
.nav-tabs>li.active>a{
	background-color: rgba(243, 255, 59, 0.82) !important;
}

.tab-content>.active {
	background-color: rgba(243, 255, 59, 0.82) !important;
}

.input-group-addon:first-child {
	width: 100px; !important;
}

.input-group {
	width: 100%; !important;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	transition: all linear 0.3s;
}

.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 15px;
}

/*Animowana ikona*/
.spin {
	-webkit-animation: spin .2s infinite linear;
	-moz-animation: spin .2s infinite linear;
	-o-animation: spin .2s infinite linear;
	animation: spin .5s infinite linear;
	-webkit-transform-origin: 50% 58%;
	transform-origin:50% 58%;
	-ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(-30deg);
	}
	to {
		-moz-transform: rotate(30deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(-30deg);
	}
	to {
		-webkit-transform: rotate(30deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(-20deg);
	}
	to {
		transform: rotate(20deg);
	}
}
/*END Animowana ikona*/