body
{
	background-image: url("../image/background.png") !important;
	font-family: 'Lato', sans-serif !important;
	
}

.well{
	background-color: rgba(234, 234, 234, 0.52) !important;
    border-radius: 3px !important;
	box-shadow: inset 0 1px 1px rgb(0, 0, 0)!important;
}


.userInfo{
	text-align: right;	
	font-weight: bold !important;
}

.reserved{
		text-align: center;
}

.btn-default {
    background-color: rgba(243, 255, 59, 0.82) !important;
    border-color: #ccc;	
	border-color: #7f9222 !important;
	font-weight: bold !important;
	font-size: 20 !important;
}

.form-control{
	background-color: rgba(243, 255, 59, 0.82) !important;
	border-color: #7f9222 !important;
	font-weight: bold !important;
	font-size: 20 !important;
	height: auto !important;
}

.myLabel{
	font-weight: bold !important;
	font-size: 20 !important;	
}

.panel-heading {
	color: #333;
	background-color: rgba(243, 255, 59, 0.82) !important;
	border-color: #7f9222 !important;
}

.panel-default {
	background-color: rgba(234, 234, 234, 0.52) !important;
	border-radius: 3px !important;
	box-shadow: inset 0 1px 1px rgb(0, 0, 0)!important;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}


.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}

.borromColour{
	background-color: rgba(243, 255, 59, 0.82) !important;
}

.borromColour:hover{
	background-color: rgba(216, 230, 0, 0.82) !important;
	cursor: pointer; cursor: hand; !important;
}

